body{
    padding: 10px;
}
.outerBox{
    width: 80%;
    margin: auto;
    border: 1px solid black;
}
.singleBox{
    /* border: 1px solid black; */
    /* margin: auto; */
    /* margin-left: 15%; */
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: rgb(227, 227, 227);
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
.one{
    /* border: 1px solid black; */
    flex: 2;
    /* height: 200px; */
}
.two{
    flex: 7;
    text-align: left;
    padding-left: 10px;
}
.two:hover{
    cursor: pointer;
}
.imgBox{
    width: 50%;
}
.removemargin{
    margin: 10px;
}
.botBox{
    /* width: 70%; */
    display: flex;
    /* justify-content: space-between; */
    padding: 15px 30px 0px 10px;
}
.flexSize-1{
    /* border: 1px solid black; */
    flex: 1;
}
.flexSize-2{
    /* border: 1px solid black; */
    flex: 1;
}
.flexSize-3{
    flex: 3;
}
.PagiBox{
    
    /* border: 1px solid black; */
    width: 35%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.downArrow{
    position: relative;
    font-size: 80px;
    top: 30px;
    /* right: 50px; */
}
.Click{
    display: none;
}
.downArrow:hover + .Click{
    display: block;
    
}
.downArrow:hover {
   cursor: pointer;
    
}
.mymodal {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
  }
  